$c1: #8c8fae;
$c2: #584563;
$c3: #3e2137;
$c4: #9a6348;
$c5: #d79b7d;
$c6: #f5edba;
$c7: #c0c741;
$c8: #647d34;
$c9: #e4943a;
$c10: #9d303b;
$c11: #d26471;
$c12: #70377f;
$c13: #7ec4c1;
$c14: #34859d;
$c15: #17434b;
$c16: #1f0e1c;